body {
    background: url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
    
}

a {
    color: "#777777"
}

.wrapper1 {
    background: #ffffff;
    height: 80px;
    width: 100%;
    margin: 0px;
    display: block;
    
}

.head1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-left: 100px;
    text-align: center;
    width: 370px;
    float: left;
}

.holder {
    width: 270px;
    float: left;
    padding: 20px;
}

.about {
    color: #777777;
    float: left;
    align-content: center;
    padding: 8px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.portfolio {
    color: #777777;
    float: left;
    align-content: center;
    padding: 8px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.contact {
    color: #777777;
    float: left;
    align-content: center;
    margin-right: 90px;
    padding: 6px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper1:after {
    content: "";
    display: block;
    clear: both;
}

.columns {
    height: 650px;
    display: block;
    margin-left: 100px;
    
}
.wrapper2 {
    float: left;
    color: #4aaaa5;
    margin-left: 200px;
    width: 650px;
    height: 450px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    display: block;
    
}

.aside{
    float: left;
    color: #4aaaa5;
    text-align: center;
    margin-right: 100px;
    align-content: center;
    width: 270px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    display: block;
    align-items:center;
    
}

.Git {
    padding: 20px;
    margin: 2px;
    float: left;
}

.LinkdIn {
    padding: 20px;
    margin: 2px;
    float: left;
}

.SlackOverflow {
    padding: 20px;
    margin: 2px;
    float: left;
}

.columns:after{
    display: block;
    content: "";
    clear: both;
    }

.columnscon {
    height: 450px;
    display: block;
    margin-left: 100px;
}
.contact2 {
    float: left;
    color: #4aaaa5;
    margin-left: 200px;
    width: 650px;
    height: 250px;
    padding: 7px;
    margin: 7px;
    background-color: #ffffff;
    display: block;
}

.columnscon:after{
    display: block;
    content: "";
    clear: both;
    }


.portcon {
    height: 520px;
    display: block;
    margin-left: 100px; 
    margin-bottom: 30px

} 

.port2 {
    float: left;
    color: #4aaaa5;
    margin-left: 200px;
    margin-bottom: 100px;
    width: 650px;
    height: 510px;
    padding: 7px;
    margin: 7px;
    background-color: #ffffff;
    display: block; 
    
}

.Hangman {
    float: left;
    display: block;
    size: 300px;
    position: relative;
    text-align: center;
    align-items:center;
    padding: 1px;
    
}

.RPG Game {
    float: left;
    display: block;
    size: 300px;
    position: relative;
    text-align: center;
    padding: 1px;
}

.Trivia Game {
    float: left;
    display: block;
    size: 300px;
    position: relative;
    text-align: center;
    padding: 1px;
}

.Rutgers Info Widget {
    float: left;
    display: block;
    size: 300px;
    position: relative;
    text-align: center;
    padding: 1px;
}

.Rock Paper Scissors {
    float: left;
    display: block;
    size: 300px;
    position: relative;
    text-align: center;
    padding: 1px;
}

portcon:after {
    display: block;
    content: "";
    clear: both;  
}

footer {
    background-color: #666666;
    height: 30px;
    margin-top: 60px;
    border-top: solid 2px;
    border-top-color: #4aaaa5;
    justify-content: center;
    text-align: center;
    text-anchor: middle;
    display:flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items:center;
}